<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <title>Nusantara Resto</title>
    <link rel="icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Secular+One&display=swap">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <img class="header__icon" src="/images/icon.png" alt="">
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/like">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/shena-star-sarwodi-768727184/"
                    target="_blank">About Us</a></li>
        </ul>
    </nav>
    <div id="contentHome"></div>
    <footer>
        <div class="footer__copry">
            <div class="container"><small>Copyright © NmkzShin 2021</small></div>
        </div>
    </footer>
    <!-- <script>
        let plusIndex, minIndex, slideIndex;
        const reviews = 7;

        slideIndex = 0;
        plusIndex = 0;
        minIndex = 0;
        plusDivs();

        console.log("screen width: "+screen.width);

        function plusDivs() {
            const slides = hideReviewer();
            minIndex = plusIndex - 1;
            const loop = countLoop(plusIndex);
            for (let i = 0; i < loop; i++) {
                if(plusIndex >= slides.length){
                    plusIndex = 0;
                    if(i == 0){
                        plusDivs();
                    }
                    return
                }else{
                    console.log(plusIndex);
                    slides[plusIndex].style.display = "block";
                }
                plusIndex++;
            }
        }

        function minDivs() {
            const slides = hideReviewer();
            plusIndex = minIndex + 1;
            let loop;
            if(minIndex < 0){
                minIndex = slides.length - 1;
                loop = countLoop(minIndex + 1);
            }else{
                loop = countLoop(3);
            }
            for (let i = 0; i < loop; i++) {
                console.log(minIndex);
                slides[minIndex].style.display = "block";
                minIndex--;
            }
        }

        function hideReviewer(){
            const slides = document.getElementsByClassName("mySlides");
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            return slides;
        }

        function countLoop(index){
            if(screen.width > 500){
                const sisa = Math.abs(index) % 3;
                if(sisa == 0){
                    return 3;
                }else{
                    return sisa;
                }
            }else{
                return 1;
            }
        }

        // auto();
        function auto() {
            plusDivs();
            setTimeout(auto, 5000);
        }
    </script> -->
</body>

</html>