<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Resto</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <!-- <h1 class="header__title font_h1">
                Nusantara Resto
            </h1> -->
            <img class="header__icon" src="/images/icon.png" alt="">
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/shena-star-sarwodi-768727184/" target="_blank">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <!-- <div class="layerz"></div> -->
        <div class="hero__inner">
            <h1 class="hero__title font_h1">Nusantara Resto</h1>
            <p class="hero__tagline">Temukan restoran kesukaanmu di seluruh Nusantara</p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="latest">
                <div class="par-heading">
                    <span class="sub-heading">Explore</span>
                    <h1 class="latest__label font_h2">Restaurant</h1>
                </div>
                <div class="posts" id="posts">
                    
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer__copry">
            <div class="container"><small>Copyright © NmkzShin 2021</small></div>
        </div>
    </footer>
</body>

</html>