<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <title>Nusantara Resto</title>
    <link rel="icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Secular+One&display=swap">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <img class="header__icon" src="/images/icon.png" alt="">
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/like">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/shena-star-sarwodi-768727184/"
                    target="_blank">About Us</a></li>
        </ul>
    </nav>
    <div id="contentTest">
        <section class="content">
            <div class="latest">
                <div class="par-heading">
                    <span class="sub-heading">TestCity</span>
                    <h1 class="latest__label font_h2">TestName</h1>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="detail">
                <img class="detail__poster" src="/images/heros/hero-image_2.jpg" alt="${resto.name}" />
                <div class="detail__info">
                    <h4>City</h4>
                    <p>${resto.city}</p>
                    <h4>Adress</h4>
                    <p>${resto.address}</p>
                    <h4>Rating</h4>
                    <p>${resto.rating}</p>
                    <h4>Categories</h4>
                    <div class="categories__margin">
                        <a class="detail__categories" href="">Italia</a>
                        <a class="detail__categories" href="">Spanyol</a>
                    </div>
                </div>
                <div class="detail__description">
                    <h3>Description</h3>
                    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
                        nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam
                        semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                        pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
                        libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                        Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                        eget bibendum sodales, augue velit cursus nunc,</p>
                </div>
            </div>
            <div class="latest">
                <div class="par-heading">
                    <span class="menu_heading">~ Menu ~</span>
                </div>
            </div>
            <div class="menu">
                <div class="menu_content">
                    <div class="par-heading">
                        <span class="menu_subhead">Makanan</span>
                    </div>
                    <div class="menu_list">
                        <div><a href="">Randang Mantah</a></div>
                        <div><a href="">Kulit Jawi</a></div>
                    </div>
                </div>
                <div class="menu_content">
                    <div class="par-heading">
                        <span class="menu_subhead">Minuman</span>
                    </div>
                    <div class="menu_list">
                        <div><a href="">Susu Ayam</a></div>
                        <div><a href="">Teh S</a></div>
                        <div><a href="">Susu Ayam</a></div>
                        <div><a href="">Teh S</a></div>
                    </div>
                </div>
            </div>
            <div class="latest">
                <div class="par-heading">
                    <span class="sub-heading">Reviews</span>
                    <h1 class="latest__label font_h2">Customer</h1>
                </div>
            </div>
            <div class="reviews" id="contentReviews">
                <div class="reviews_content mySlides">
                    <div class="reviews_customer">
                        <div class="reviews_data">
                            <h4>Shena Star Sarwodi Golbog Golbog</h4>
                            <p>12 juni 2021</p>
                        </div>
                        <div class="reviews_circle">
                            <span class="reviews_initial">S</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="reviews_des">
                        <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                            ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                            rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,"
                        </p>
                    </div>
                </div>
                <div class="reviews_content mySlides">
                    <div class="reviews_customer">
                        <div class="reviews_data">
                            <h4>Ade Yulina Mursydah Saad</h4>
                            <p>12 juni 2021</p>
                        </div>
                        <div class="reviews_circle">
                            <span class="reviews_initial">S</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="reviews_des">
                        <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                            ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentumQuisque
                            rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies
                            nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum Quisque rutrum.
                            Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam
                            eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum Quisque rutrum. Aenean
                            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget
                            dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum Quisque rutrum. Aenean
                            imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperultricies nisi. Nam eget
                            dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum"
                        </p>
                    </div>
                </div>
                <div class="reviews_content mySlides">
                    <div class="reviews_customer">
                        <div class="reviews_data">
                            <h4>Nmkz Shin</h4>
                            <p>12 juni 2021</p>
                        </div>
                        <div class="reviews_circle">
                            <span class="reviews_initial">S</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="reviews_des">
                        <p>"Quisque rutrum."</p>
                    </div>
                </div>
                <div class="reviews_content mySlides">
                    <div class="reviews_customer">
                        <div class="reviews_data">
                            <h4>Si Golbog</h4>
                            <p>14 juni 2021</p>
                        </div>
                        <div class="reviews_circle">
                            <span class="reviews_initial">S</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="reviews_des">
                        <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                            ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                            rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,"
                        </p>
                    </div>
                </div>
                <div class="reviews_content mySlides">
                    <div class="reviews_customer">
                        <div class="reviews_data">
                            <h4>Bolang</h4>
                            <p>12 juni 2021</p>
                        </div>
                        <div class="reviews_circle">
                            <span class="reviews_initial">S</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="reviews_des">
                        <p>"Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                            ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                            rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,"
                        </p>
                    </div>
                </div>
            </div>
            <div class="reviews_input">
                <div class="reviews_title">
                    <h2>Review Baru</h2>
                </div>
                <div class="reviews_form">
                    <div class="form_input">
                        <label><b>Nama</b></label>
                        <input class="w3-input w3-border w3-sand" id="nameF" name="first" type="text">
                    </div>
                    <div class="form_input">
                        <label class="reviews_subtitle"><b>Reviews</b></label>
                        <textarea></textarea>
                    </div>
                    <div>
                        <button class="input_btn" id="btnKomen">Kirim</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="contentHome"></div>
    <footer>
        <div class="footer__copry">
            <div class="container"><small>Copyright © NmkzShin 2021</small></div>
        </div>
    </footer>
</body>

</html>